#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  z-index: 10000;
  background-color: #000;
  border-right: 1px solid var(--black100);
}

#main {
  max-width: 2000px;
  min-height: 100vh;
  margin: 0;
  padding-left: 260px;
  background-color: #111;
}

#footer {
  text-align: center;
  background-color: var(--black200);
  border-top: 1px solid var(--blac100);
  padding: 20px;
  margin-left: 260px;
  width: calc(100% - 260px);
  color: var(--black400);
  font-size: 0.8rem;
}
